<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <style>

    </style>
</head>
<body>
    <!-- 전체 틀 -->
    <div class="wraps">
    <!-- 상단메뉴 -->
        <div class="topMenu">
            <table>
                <tr>
                    <td>로고</td>
                    <td>자재</td>
                    <td>BOM</td>
                    <td>기록</td>
                    <td>상품</td>
                    <td>생산</td>
                    <td>로그인</td>
                </tr>
            </table>
        </div>
        <!-- 메인 -->
        <div class="mainContent">
            <div>
                <div>

                </div>
            </div>
            <h1>자재 리스트</h1>
            <table>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>